        body {
            background-image: url('dark-blue-background-seamless-pattern-with-black-vector-39404273.jpg');
        }
        a:hover{
            color:rgb(96, 96, 238)
        }
        a:visited {
            color:rgb(255, 215, 0)
        }
        a {
            color:rgb(135, 55, 240);
            text-decoration: none;
        }
        h1 {
            background-color: rgb(33, 33, 90);
                background-repeat: no-repeat;
                background-color:rgb(33, 33, 90);
                text-align: center;
                font-size: 4em;
                color: rgb(255, 215, 0);
        }
        #wrapper {
            background-color: rgb(49, 49, 117);
            min-width: 900px;
            max-width: 1000px;
            box-shadow: 3px 3px 3px;
            margin-right: auto;
            margin-left: auto;
            
        }
        footer {
            background-color: rgb(33, 33, 90);
            font-size: .80em;
            text-align:center;
            padding-bottom: 10px;
            border-top: 2px solid #000000;
        }
        main {
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 2em;
        }
        nav {
            text-align: center;
            font-size: 1.25em;
        }
        dt {
            border-top: 2px solid #000000;
        }
        h3 {
            font-size: 2em;
        }
        